@{
    ViewData["Title"] = "🌟 About";
}
<html>
<body>
<br/>
<h1>About Me</h1>
<br/> <!--This is a line break to make a blank line-->

<div class="card bg-light mb-3" style="max-width: 80rem;">
    <div class="card-body">
        <h4 class="card-title">Hello,</h4>
        <p class="card-text">My name is Victoria Vu and I am a third year MIS major at UT Austin, minoring in Finance and pursuing certificates in Risk Management and Design Strategies. My hometown is Houston, Texas in the Pearland area, where I have lived my whole life. </p>
        <p class="card-text">I am interested in opportunities that incorporate my interest in business, data/technology, and design for creating insight-informed strategies. This can encompass paths such as technology product management, technology consulting, and data analytics! I find myself drawn to roles that involve creative problem-solving utilizing technical solutions for business matters.</p>
    </div>
</div>

<div class="card border-primary mb-3" style="max-width: 80rem;">
    <div class="card-body">
        <h4 class="card-title">Activities</h4>
        <p class="card-text">Student organizations on campus that I am currently involved in include <a href="https://www.txconvergent.org">Texas Convergent</a> and <a href="https://www.absamarketingteam.com/">ABSA Marketing Team</a>.</p>
        <p class="card-text">Texas Convergent is an interdisciplinary organization that focuses on building out products using technology, design, and product principles. I am the Marketing Chair and I am responsible for promoting the overall brand image that represents the organization, marketing membership recruitment, and advertising events.</p>
        <p class="card-text">ABSA Marketing Team is a student organization that teaches key marketing skills, engages in client work, and aides in the process of professional development. I am an Analyst and my main tasks include working on client work deliverables and presenting market updates.</p>
    </div>
</div>

<div class="card border-primary mb-3" style="max-width: 80rem;">
    <div class="card-body">
        <h4 class="card-title">Interests</h4>
        <p class="card-text">A few of my general interests include anything related to art, making Spotify playlists, and trying out different food places!</p>
        <p class="card-text">I'd be happy to talk about any of those topics!</p>  
        <p class="card-text">Read more about what I have to say <a asp-action="Interests" class="btn btn-primary btn-sm">here</a>.</p>  
    </div>
</div>

<div class="card border-primary mb-3" style="max-width: 80rem;">
  <div class="card-body">
    <h4 class="card-title">Computer Skills</h4>
    <p class="card-text">Majoring in MIS has given me the opportunity to develop several technical skills including SQL and Python. Aside from those, I have also learned how to use creative programs such as Adobe Illustrator and Figma. The yellow badges indicate the skills that are a work in progress - I am currently learning C# in MIS 333K (Web Application Development) and RStudio in STA 371G (Statistics & Modeling).</p>
    <span class="badge rounded-pill bg-light">SQL</span>
    <span class="badge rounded-pill bg-light">Python</span>
    <span class="badge rounded-pill bg-light">Microsoft Excel</span>
    <span class="badge rounded-pill bg-light">Adobe Illustrator</span>
    <span class="badge rounded-pill bg-light">Figma</span>
    <span class="badge rounded-pill bg-warning">RStudio</span>
    <span class="badge rounded-pill bg-warning">C#</span>
    <span class="badge bg-light">Microsoft Office</span>
    <span class="badge bg-light">Adobe Creative Suites</span>
    <span class="badge bg-light">Google Suite</span>
  </div>
</div>
</body>
</html>