@{
    ViewData["Title"] = "🌟 Gallery";
}
<html>
<br />
<h1>Gallery</h1>
<h4>Welcome to a glimpse of my camera roll which includes some of my favorite things.</h4>
<head>
<style>
div.gallery {
  margin: 50px;
  float: left;
  width: 300px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>
<div class="gallery">
    <img src="~/images/chicago.png" alt="Chicago Riverwalk at night" title="Chicago Riverwalk at night" width="600" height="400">
  </a>
  <div class="desc">The Chicago Riverwalk at night this past summer. One of my favorite cities that I have visited.</div>
</div>

<div class="gallery">
    <img src="~/images/sushi.png" alt="Crudo (Sushi) from Handies Douzo in Houston" title="Crudo (Sushi) from Handies Douzo in Houston" width="600" height="400">
  </a>
  <div class="desc">This is Crudo, which is essentially seasoned sashimi. This is from Handies Douzo in Houston.</div>
</div>

<div class="gallery">
    <img src="~/images/gelato.png" alt="Variety of gelato flavor selection from Gelato Paradiso in Austin" title="Variety of gelato flavor selection from Gelato Paradiso in Austin" width="600" height="400">
  </a>
  <div class="desc">The best dessert after a filling dinner—gelato. I love going to Gelato Paradiso in Austin.</div>
</div>

<div class="gallery">
    <img src="~/images/shopping.png" alt="Clothes in a shop called Oak + Fort" title="Clothes in a shop called Oak + Fort" width="600" height="400">
  </a>
  <div class="desc">I enjoy shopping in my free time, whether it's in store or online.</div>
</div>

<div class="gallery">
    <img src="~/images/sunset.png" alt="Pink sunset in Chicago" title="Pink sunset in Chicago" width="600" height="400">
  </a>
  <div class="desc">Sunsets with a hint of pink is always a beautiful sight.</div>
</div>

<div class="gallery">
    <img src="~/images/museum.png" alt="Pop art in a museum" title="Pop art in a museum" width="600" height="400">
  </a>
  <div class="desc">Museums are one of my go-to places when I go out with my friends. I enjoy admiring art.</div>
</div>

<div class="gallery">
    <img src="~/images/monet.png" alt="Claude Monet's painting of the Charing Cross Bridge" title="Claude Monet's painting of the Charing Cross Bridge" width="600" height="400">
  </a>
  <div class="desc">Claude Monet is one of my favorite artists. This is his piece of the Charing Cross Bridge.</div>
</div>

<div class="gallery">
    <img src="~/images/thor.png" alt="White, fluffy, and small bichon frise laying on the ground" title="White, fluffy, and small bichon frise laying on the ground" width="600" height="400">
  </a>
  <div class="desc">This is my sister's dog, Thor. He's an adorable Bichon Frise.</div>
</div>

<div class="gallery">
    <img src="~/images/austin.png" alt="Blurry picture of the Austin skyline" title="Blurry picture of the Austin skyline" width="600" height="400">
  </a>
  <div class="desc">I'm not sure if Austin is one of my favorite cities, but I do love our skyline (this picture doesn't capture it well enough).</div>
</div>

</body>
</html>