@{
    ViewData["Title"] = "🌟 Home";
}
<html>
<body>
<br />
<h1 class="text-center">Nice to meet you!</h1>

<h4 class="text-center">Welcome to my Home Page. I'm Victoria Vu.</h4>
<div class="align-self-sm-center">
    <img class="w-25 h-auto rounded mx-auto d-block" 
         src="~/images/v1.jpg" alt="Portrait of Victoria!" title="Portrait of Victoria!" />
</div>
<br />
<div class="text-center">
    <div class="btn-group-lg">
        <a asp-action="About" class="btn btn-primary">About Me</a>
        <a asp-action="Interests" class="btn btn-primary">Interests</a>
        <a asp-action="Gallery" class="btn btn-primary">Gallery</a>
        <a asp-action="Resume" class="btn btn-primary">Resume</a>
    </div>
</div>
<hr class="hr-danger" />

<p>You can reach me at <a href="mailto:victoriatvvu@gmail.com?subject=MIS 333K">victoriatvvu@gmail.com</a>, or connect with me on <a href="https://www.linkedin.com/in/victoriavvu/">LinkedIn</a>. Check out my other pages to get to know me!</p>
<br />
<br />
<h2 class="text-center">TED Talk</h2>
<p>Sleep is often something that is sacrificed for productivity, however, the lack of sleep is extremely detrimental to our health. Dan Gartenberg perfectly highlighted the benefits that come out of getting a good night's rest and its necessity for our cognitive functions.</p>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div style="max-width:854px">
                    <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/dan_gartenberg_the_brain_benefits_of_deep_sleep_and_how_to_get_more_of_it" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div
<br />
</body>
</html>
