@{
    ViewData["Title"] = "🌟 Interests";
}
<html>
<br/>
<body>
<h1>Interests</h1>
<h2></h2>
<p></p>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card border-primary mb-3" style="max-width: 40rem;">
          <div class="card-body">
            <h4 class="card-title">Design</h4>
            <p class="card-text">When I have free time, I would resort to working on design or illustration projects. This spans across working on UI designs, brand design, or miscellaneous digital illustrations. I have not been able to tend to this hobby lately, however, a few side projects require me to use Figma for digital prototyping, so I am currently learning design in that form!
            </p>
          </div>
        </div>
    </div>
    <div class="col-6">
      <div class="card border-primary mb-3" style="max-width: 40rem;">
          <div class="card-body">
            <h4 class="card-title">Painting</h4>
            <p class="card-text">A few years ago, I practiced painting a lot more, through watercolor, acrylic, and oil painting. I would enjoy depicting a variety of subjects, from landscapes to portraits—it was a favorite pastime of mine. Now my passion for art mainly lies in its digital forms, however, I am always open to trying painting again.
            </p>
          </div>
        </div>
    </div>
    <div class="col-6">
      <div class="card border-primary mb-3" style="max-width: 40rem;">
          <div class="card-body">
            <h4 class="card-title">Spotify Playlists & Analytics</h4>
            <p class="card-text">Since I love music and listen to it 24/7 (116,932 minutes, according to Spotify Wrapped), I love making Spotify playlists by categorizing songs into a specific mood or genre, then finding a fitting playlist cover photo to display. I am always fascinated by Spotify analytics as well, whether it's presented by third party websites or Wrapped, so I find myself going to <a href="https://www.statsforspotify.com">statsforspotify</a> quite often.
            </p>
          </div>
        </div>
    </div>
    <div class="col-6">
      <div class="card border-primary mb-3" style="max-width: 40rem;">
          <div class="card-body">
            <h4 class="card-title">Food Adventures</h4>
            <p class="card-text">When I hang out with my friends, we usually find interesting restaurants or dessert shops to go to. A few of my current favorite cuisines include Italian food, handrolls, and gelato. Check out my recommendations at the bottom of this page!
            </p>
          </div>
        </div>
    </div>
    <div class="col-6">
      <div class="card border-primary mb-3" style="max-width: 40rem;">
          <div class="card-body">
            <h4 class="card-title">Homemade Cafe Recipes</h4>
            <p class="card-text">I love going to coffee shops or bubble tea shops, however, I also enjoy making the drink at home if I have the ingredients. I initially learned how to make a matcha latte and Dalgona coffee, then that lead to me learning how to make different types of milk tea, coffee, and chai lattes.
            </p>
          </div>
        </div>
    </div>
     <div class="col-6">
      <div class="card border-primary mb-3" style="max-width: 40rem;">
          <div class="card-body">
            <h4 class="card-title">Personality Tests</h4>
            <p class="card-text">Personality tests are fun when I want to learn more about myself. I took the MBTI test and results show that I am a <a href="https://www.16personalities.com/intp-personality">Logician (INTP)</a>, meaning that I have Introverted, Intuitive, Thinking, and Prospecting personality traits. According to this test, we are <em>flexible thinkers who enjoy taking an unconventional approach to many aspects of life</em> and we <em> seek out unlikely paths, mixing willingness to experiment with personal creativity</em>.
            </p>
          </div>
        </div>
    </div>
  </div>
</div>

<br />

<h1>Favorite Places</h1>
<h4>Some (food) places I would recommend.</h4>
<div class="container">
  <div class="row">
    <div class="col-4">
       <div class="card bg-light mb-3">  
            <div class="card-body">
                <h5 class="card-title">Vinoteca Poscol</h5>
                <p class="card-text">
                    <em>Italian restaurant</em>
                    <p>Italian wines & small plates, including house-cured salumi, presented in an intimate atmosphere.</p>
                    608 Westheimer Rd, Houston, TX 77006
                </p>
                <a href="https://www.poscolhouston.com/" class="btn btn-outline-primary btn-sm">
                    Website
                </a>
            </div>
        </div>
    </div>
    <div class="col-4">
       <div class="card bg-light mb-3">  
            <div class="card-body">
                <h5 class="card-title">Gelato Paradiso</h5>
                <p class="card-text">
                    <em>Dessert shop</em>
                    <p>An authentic Italian Gelato & Sorbetto experience using traditional Italian recipes made by artisans.</p>
                    1400 S Congress Ave Suite B160, Austin, TX 78704
                </p>
                <a href="https://gelatoparadiso.com/location-austin/" class="btn btn-outline-primary btn-sm">
                    Website
                </a>
            </div>
        </div>
    </div>
      <div class="col-4">
       <div class="card bg-light mb-3">  
            <div class="card-body">
                <h5 class="card-title">Handies Douzo</h5>
                <p class="card-text">
                    <em>Sushi restaurant</em>
                    <p>Japanese cuisine & hand rolled sushi are showcased at this cozy restaurant with an open kitchen.</p>
                    3510 White Oak Dr, Houston, TX 77007
                </p>
                <a href="https://www.handiesdouzo.com/" class="btn btn-outline-primary btn-sm">
                    Website
                </a>
            </div>
        </div>
    </div>
  </div>
</div>
<br />
</body>
</html>